.cart {
	display: flex;
    justify-content: end;
    position: relative;
    grid-column-end: 5;
}

.cart__img {

}
.cart__count {
	position: absolute;
	top: 3px;
	right: -6px;
	background-color: #8b70aa;
	color: #fff;
	border-radius: 50%;
	height: 18px;
	width: 18px;
	font-weight: 700;
	
	display: flex;
    justify-content: center;
    align-items: center;
}