.card {
	position: relative;
	width: 280px;
	background-color: #cdbce191;
	border-radius: 5px;
}

.card__photo {
	text-align: center;
	margin-top: 40px;

}
.card__img {
	max-width: 250px;
}
.card__desc {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 20px 20px 0 0;
    padding: 14px 22px 28px;
}
.card__header {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__title {
	font-size: 22px;
	font-weight: 700;
	
}
.card__price {
	font-size: 19px;
	font-weight: 700;

	&::before {
		content: '₴';
	}
}
.card__footer {
	display: flex;
    justify-content: flex-end;
}
.card__btn {
	background-color: #8b70aa;
	border-radius: 5px;
	transition: opacity 0.2s ease-in;


	&:hover {
		opacity: 0.6;
	}
}

.message__add {
	margin-right: 10px;
	font-weight: 700;
	transition: all 0.2s ease-in;
}