.products {
	padding: clamp(10px, -0.754rem + 6.9vw, 50px) 0;
}

.products__title {
	text-align: center;
}

.products__slider {
	position: relative;
	padding: 0 20px;
	margin-top: clamp(20px, -0.329rem + 7.89vw, 50px);
}